* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, powderblue, pink);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    background-color: white;
}

h2 {
    margin-top: 1rem;
}

textarea {
    margin: 1rem;
    font-size: 1.2rem;
    border-color: transparent;
    border-radius: 0.6rem;
    background-color: wheat;
}